<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Lyssna en chagga är inte farlig</h3>
        <h4>1. Det går snabbt</h4>
        <h4>2. Hon pekar du örfilar och kör</h4>
        <h4>3. Knulla punkt 1 och 2 bazz henne sen försvinn din fucking hora</h4>
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>